div {
  box-sizing: content-box; // use content-box instead of border-box
}
.testbox {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 100vh;
}
.box {
  width: auto; //200px
  height: auto;
  border: 4px solid red;

  &.clicked {
  }
  .el {
    height: 40px;
    padding: 20px;
    transform-origin: bottom right;
    &.clicked {
      height: 50vh;
      width: 70vw;
      padding: 0;
    }
    ////
    cursor: pointer;
    background-color: rgb(50, 100, 200);
    color: rgb(150, 250, 180);
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
