@mixin unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.root {
    z-index: 0;
}

body {
    background: gold;
    display: flex;
    //margin: 70;
    //padding: 140;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    @include unselectable();
}

.parent {
    background-color: rgb(103, 58, 183);
    height: 500px;
    width: 500px;
    border-radius: 7px;
    -moz-box-shadow: 10px 13px 15px -4px #362f07;
    -webkit-box-shadow: 10px 13px 15px -4px #362f07;
    box-shadow: 10px 13px 15px -4px #362f07;
}

// Upper 2 pprl protuberances
.barraU {
    background-color: gold;
    height: 2%;
    width: 100%;
}
.Upper {
    background-color: rgb(103, 58, 183);
    transform: translate(13%, 0%);
    height: 35%;
    width: 70%;
}
.rail {
    background-color: #512da8;
    height: 99%;
    width: 100%;
    border-radius: 0px 0px 7px 7px;
    cursor: pointer;
    -moz-box-shadow: inset 0 0 5px #25172e;
    -webkit-box-shadow: inset 0 0 5px #25172e;
    box-shadow: inset 0 0 5px #25172e;
}
.child {
    transition: transform 1.3s;
}

//Hover & Move
.Upper:hover .child {
    transform: translateX(26%);
}

// ROTATE OBJ
.disk {
    width: 8.9rem;
    height: 8.7rem;
    border-radius: 50%;
    top: 13px;
    left: 175px;
    position: relative;
    background-color: #dbdbca;
    // transition:  2s ease-in-out ;
    box-shadow: 1px 1px 1.5px;

    cursor: pointer;
    transition: 11.5s;
}
.rotate:hover {
    background-color: #f50057;
    animation: rotate 2s forwards linear infinite; //
    box-shadow: 2px 2px 5px;
    // transform: rotate(360deg);
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.huecoRT {
    background-color: rgb(103, 58, 183);
    transform: translate(143%, 413%);
    font-family: Gill Sans;
    height: 23px;
    width: 32px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 5px #25172e;
    -webkit-box-shadow: inset 0 0 5px #25172e;
    box-shadow: inset 0 0 5px #25172e;
}
.midRT {
    background-color: #5336b4;
    transform: translate(184%, 32%);
    height: 30px;
    width: 30px;
    border-radius: 6px;
    -moz-box-shadow: inset 0 0 5px 0px #18091b;
    -webkit-box-shadow: inset 0 0 5px 0px #18091b;
    box-shadow: inset 0 0 5px 0px #18091b;
}
.letra {
    color: #263238;
    font-size: 1.1em;
    font-family:
        Gill sans,
        Helvetica;
    transform: translate(19.5%, 154%);
}

// left bottom corner OBJ
.buttonrail {
    background-color: #512da8;
    transform: translate(27%, 130%);
    height: 70px;
    width: 37px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 3px #25172e;
    -webkit-box-shadow: inset 0 0 3px #25172e;
    box-shadow: inset 0 0 3px #25172e;
}
#clip {
    position: relative;
    background: #263238;
    transform: translate(9%, 3%);
    top: 2px;
    height: 33px;
    width: 32px;
    transition: 0.37s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    border-radius: 4px;
    cursor: pointer;
}
#clip:hover {
    background-color: #6a6667;
}
/*
#button{ //NG
  position: relative;
  background-color: #263238;
  transform: translate(3%, 3%);
  top: 0px;
  height: 33px;
  width: 35px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
}*/

////////////////// trash ////////////////

/*
<svg height="90" width="500">
  <ellipse cx="235" cy="70" rx="60" ry="57"
  stroke="darkslateblue" stroke-width="5" fill="silver" />
</svg>
*/
/* disk -> r="65" stroke="darkslateblue" stroke-width="5" fill="silver" />
top: 8px;
        left: 8px;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
&__head {
    position: relative;
    width: 230px;
    height: 200px;
    border: 6px solid #373737;
    -webkit-border-radius: 50% 50% 45% 45%;
    border-radius: 50% 50% 45% 45%;
    background: $color-cat;
    z-index: 20;
  }
*/
/*
.sil_pprL{
       background-color: floralwhite;
          height: 100%;
          width: 15%;
    }
.child {
          background-color: silver;
          height: 97%;
          width: 61%;
          transition: transform 1s;
    }

<svg width="400" height="180">
  <rect x="50" y="0" rx="5" ry="5" width="150" height="10"
  style="fill:blue;stroke:pink;stroke-width:5;" />
</svg>

test:
<svg width="300" height="150">
  <rect x="30" y="0" rx="5" ry="5" width="150" height="10"
  style="fill:white;"/>
</svg>

.parent {
      background-color: rgb(103, 58, 183);
      height: 500px;
      width: 500px;
    }
    <svg width="500" height="500">
      <rect x="0" y="0" rx="5" ry="5" width="500" height="500"
  style="fill:rgb(103, 58, 1 83);" />
*/

/* ROTATION ANIMATION

#gear{
    animation-name: ckw;
    animation-duration: 15.5s;
    // Things added
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    // <---
}
@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/
